/* You can add global styles to this file, and also import other style files */
.snack-bar-error {
    background-color: rgb(153, 50, 50) !important;
    color: beige;
  }

  .snack-bar-success {
    background-color: rgb(50, 153, 69) !important;
    color: white;
  }

  