.page-container{
    background-color: #f8fbff;
    border-radius: 10px;
    border: 1px solid lightgrey;
    max-width: 75%;
}

.large-black-label{
    font-size: large;
    font-weight: 400;
}

.medium-black-label{
    font-size: medium;
    font-weight: 300;
}